@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom styles here. NOTE: this is mainly used for styling global components for reusability. */
@layer components {
    h1, h2 {
        font-family: 'climate crisis';
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p, a, button, li, ul {
        font-family: 'poppins';
        font-size: 1rem;
    }
    a, button, input {
        pointer-events: all;
    }
}